
.popup_banner{background-color: #e62e04;}
.popup_banner img{margin:0px auto;display: block;}
.top_popup_banner{ right: 11px;top: 6px;transition: all 0.3s ease-in 0s;}

#openSidebarBtn {
    width: auto !important;
}
#mainNavbar li a {
    font-weight: 500 !important;
}

.categorie-search-box input {
    line-height: 40px !important;
}
.categorie-search-box .form-group{
    height: 41px !important;
}
.categorie-search-box button{
    height: 41px !important;
}
.total-pro {
    border-radius: 48% !important;
    margin-top: 0px!important;
    min-width: auto!important;
    height: 20px!important;
    line-height: 20px!important;
    width: 20px!important;
}
.footer-banner-container {
    background-color: #b8e1c3;
}

.bg-green {
    background-color: #a1f6b6;
}
.bg-blue {
    background-color: #a1c3fa;
}
.bg-yellow {
    background-color: #f5e8a0;
}
.bg-pink {
    background-color: #ffa4a4;
}
.sperator {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}